<mat-toolbar>
  <span>Register</span>
</mat-toolbar>
<mat-card class="my-card">
  <mat-card-content>
  <form class="my-form" #registerForm="ngForm" (ngSubmit)="registerUser(registerForm.value)">
  
    
      <mat-form-field class="full-width">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Email" name="username"  pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        #username="ngModel" ngModel required>
        <mat-error *ngIf="username.errors?.required">Email is required</mat-error>
        <mat-error *ngIf="username.errors?.pattern">Email is not valid</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" type="password" name="password" pattern="(?=.*\d)(?=.*[a-zA-Z]).{6,}"
        #password="ngModel" ngModel required>
        <mat-error *ngIf="password.errors?.required">Password is required</mat-error>
        <mat-error *ngIf="password.errors?.pattern">Password must be of length 6 or more</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Name</mat-label>
        <input type="text" matInput placeholder="Name" name="name"  pattern="^[A-Z]+[a-z A-Z]*$"
        #name="ngModel" ngModel required>
        <mat-error *ngIf="name.errors?.required">Name is required</mat-error>
        <mat-error *ngIf="name.errors?.pattern">First letter should be capital</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Phone Number</mat-label>
        <input matInput placeholder="phone" name="phoneNumber" type="phone" pattern="[789][0-9]{9}"
        #phone="ngModel" ngModel required>
        <mat-error *ngIf="phone.errors?.required">Phone is required</mat-error>
        <mat-error *ngIf="phone.errors?.pattern">Phone number must be of 10 digit</mat-error>
      </mat-form-field>
      <br>
      <div layout-xs="row" flex>
        <div layout="column" flex>
          &nbsp;&nbsp; <mat-checkbox name="acceptedTerms" ngModel required>Accept Terms And conditions</mat-checkbox>

        </div>
      </div>
      <br>
      <div layout-xs="row" flex>
        <div layout="column" flex>
          &nbsp;&nbsp; <mat-checkbox name="acceptedCommercial" ngModel required>I want to receive notifications
          </mat-checkbox>
        </div>
        <br>
        <br>
      </div>


    
 
  <mat-card-actions>
    <button mat-raised-button class="full-width" [disabled]="registerForm.form.invalid"
      color="primary">REGISTER</button>
  </mat-card-actions>
</form>
</mat-card-content>
</mat-card>