<mat-sidenav-container>
    <mat-sidenav #sidenav>
      <!-- <mat-nav-list>
        <a *ngFor="let event of allEvents" mat-list-item routerLink="/event/{{event.id}}"
          (click)="sidenav.toggle()">{{event.eventName}}</a>
      </mat-nav-list> -->
      <mat-nav-list class="nav">
        <a *ngFor="let event of allEvents" mat-list-item 
          (click)="selectEvent(event.id) && sidenav.toggle()">{{event.eventName}}</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content style="height: 100vh;">
        <mat-toolbar color="primary">
          <button mat-icon-button aria-label="Menu" (click)="sidenav.open()">
            <mat-icon>menu</mat-icon>
          </button>
        </mat-toolbar>
         <!-- <router-outlet></router-outlet>  -->
         <app-queue [id]="this.selectedEventId"></app-queue>
    </mat-sidenav-content>
  </mat-sidenav-container>