.nav
{
   font-weight: bold;
}
.mat-list-item {
    color: black !important; /* Note: You could also use a custom theme */
    /* margin-top: 2px;
    margin-bottom: 2px; */
    border-color: black;
  }
.heading{
   color: blue;
   justify-content: center;
   height:60px;
   /* margin-top: 20; */
}
.events{
   background-color:rgb(75, 236, 83);
    border-bottom: 5px solid blue;
}