.my-form{
  min-width: 300px;
  max-width: 100%;
  width: 100%;
  font-size: 20px;
    /* font-weight: 400; */
  }
   
  .full-width {
    width: 100%;
  }
  ::ng-deep .success {
    font-weight: bold;
    /* color: blue; */
    background-color: rgb(10, 241, 10);
  }