.event-page{
    background-color: #b7bbbd;
    }
    .my-card{
        margin: 10px;
        margin-bottom: 5px;
        /* border-radius: 2%; */
        border: 55px !important;
       border-radius: 30px !important;
       /* border: rgb(41, 238, 15) !important; */
    }
    .header-image{
        width: 100%;
    }
    .title{
        font-weight: bold;
        font-size: x-large;
        text-align: center;
    }
    .title1{
        text-align: center;
        font-weight: bold;
        font-size: x-large;
        color: rgb(9, 9, 151);
    }
    .content{
        
        text-align: center;
    }
    .my-btn{
        text-align: center;
    }
    .count{
        font-weight: bolder;
        font-size: 75px;
    }
    .time{
        color:red;
        font-weight: bold;
        font-size: larger
    }
    .btn-wrapper{
        margin: 10px;
    
    }
    ::ng-deep .success {
        font-weight: bold;
        color: blue;
        background-color: rgb(10, 241, 10);
      }
      ::ng-deep .leave {
        font-weight: bold;
        font-size: x-large;
        
        color: black;
        background-color: red;
      }