<div class="event-page">
  <div *ngIf="this.event != undefined || this.event">
    <img class="header-image" src="assets/images/jumptheq.png">
    <mat-card class="my-card" *ngIf="this.event.joined ">
      <mat-card-title class="title">Your Number</mat-card-title>
      <mat-card-content class="content">
        <div class="count">{{event.myNumber}}</div>
        <div class="row">
          <h2 class="push-left-md">Currently estimate time: <countdown [config]="{leftTime: event.estimateTime}">
            </countdown>
          </h2>
        </div>
      </mat-card-content>

    </mat-card>
    <mat-card class="my-card">
      <mat-card-title class="title">Currently Being Attended</mat-card-title>
      <mat-card-content class="content">
        <div class="count">{{event.currentlyAttended}}</div>
        <div class="btn-wrapper">
          <button *ngIf="this.event.joined " mat-raised-button (click)="onLeaveQueue(event.id)" color="primary"
            class="my-btn">Leave the queue</button>

          <button *ngIf="!this.event.joined" mat-raised-button (click)="onJoinQueue(event.id)" color="primary"
            class="my-btn">Join the queue</button>

        </div>
      </mat-card-content>

    </mat-card>

  </div>
  <mat-card class="my-card" *ngIf="this.event == null || this.event == undefined">
    <mat-card-title class="title">The queue is not active try again later.</mat-card-title>
  </mat-card>
</div>